body {
    background-color:#f5e9d7;
    margin-left: 150px; 
    margin-right: 150px; 
    margin-top: 100px; 
    margin-bottom: 100px;
  }

h1 {
  font-size: 24;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-decoration: overline;
  text-transform: uppercase;
  color:darkslategray;
  text-align: center;
}

p {
    color: black;
    text-align: justify;
    margin-left: 150px; 
    margin-right: 150px; 
    margin-top: 100px; 
    margin-bottom: 100px;
  } 

.p1 {
    color: rgb(111, 5, 5);
    text-align: left;
    font-family: 'Brush Script MT', cursive;
  } 
  
  
.p2 {
    font-family: 'Libre Bodoni', serif;;
  }

  
.p3 {
    font-family: "Lucida Console", "Courier New", monospace;
  }


.col{
    width: 25%;
    text-align: justify;
    float: left;
    border: 1px solid red;
  }


#
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200&family=Libre+Bodoni&display=swap" rel="stylesheet">
